.user-list-container {
  overflow: auto;
  overflow-x: hidden;
  height: 80vh;
}
.chat-online {
  color: #34ce57;
}
.chat-offline {
  color: #e4606d;
}
.list-group-item {
  padding: 0.4rem 1.25rem;
  font-size: 10pt;
}
.list-group-item-action:focus,
.list-group-item-action:hover,
.active-chat {
  background-color: #9D77EA;
}
button[id="add_people"]{
  margin-top:10px;
  margin-left:60px;
  background-color:#9D77EA;
  font-weight: bold;
}
button[id="add_people"]:hover{
  background-color: #cc1212;
}
button[id="logout"]{
  margin-top:10px;
  margin-left:60px;
  background-color: #cc1212;
  font-weight: bold;
}
button[id="logout"]:hover{
 
  background-color:#9D77EA;
}
