.user-list-container {
  overflow: auto;
  overflow-x: hidden;
  height: 80vh;
}
.chat-online {
  color: #14B86C;
}
.chat-offline {
  color: #9F77EB ;
}
.list-group-item {
  padding: 0.4rem 1.25rem;
  font-size: 10pt;
}
.list-group-item-action:focus,
.list-group-item-action:hover,
.active-chat {
  
}
button[id="add_people"],div[id="add_people"]{
  margin-top:10px;
  
  background-color:white;
  font-weight: bold;
  font-size: small;
  color:#18191B;
  width:100px;
}
button[id="add_people"]:hover{
  background-color: #cc1212;
}
button[id="logout"]{
  margin-top:10px;
  margin-left:60px;
  background-color: #cc1212;
  font-weight: bold;
  color:white;
}
button[id="logout"]:hover{
 
  background-color:#9D77EA;
}
